html {
    height: 100%;
}
body {
    padding-bottom: 40px;
    height: 100%;
}

.container {
    min-height: 100%;
    height: auto;
    margin: 0 auto -41px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.navbar-brand > img {
    display: inline;
    margin-right: 4px;
}

div.app-caption {
    padding: 25px 0px;
    font-size:3.0em;
    font-weight: bold;
    color:#6aacaf
}

form ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px 5px;
}

form ul li {
  color: red;
}

.alert ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px 5px;
}

.navbar-default {
    margin-top: 15px;
}

.mb-2 {
    margin-bottom: 15px;
}

h1 {
    margin-top: 0px;
}

.disabled-click {
    pointer-events: none;
    opacity: 0.65;
}

form ul li {
    margin-left: -5px;
    margin-bottom: 8px;
}

.btn-actions-mini a {
    padding: 3px 5px 1px 6px;
}

.scroll-x-auto {
    overflow-x: auto;
}

.min-width-table {
    min-width: 970px;
}

.table > tbody > tr > td {
    vertical-align: inherit;
}
.table > tbody > tr > td:first-child,
.table > tbody > tr > th:first-child,
.table > tbody > tr > td:last-child,
.table > tbody > tr > th:last-child
{
    text-align: center;
}
.table > tbody > tr:first-child {
    background-color: #e8e8e8;
}

.table > tbody > tr > td:not(:first-child),
.table > tbody > tr > th:not(:first-child)
{
    padding-left: 10px;
}

.table > tbody > tr > td:not(:first-child) {
    color: #696868;
}

#tags-well {
    margin-bottom: 5px;
}
#tags-well > .inner-well {
    max-height: 150px;
    overflow-y: auto;
}

#tags-well > .table, #tags-well > .inner-well > .table {
    margin-bottom: 2px;
}

#tags-well > .table > thead > tr {
    background-color: #ccc;
}

#tags-well .table > thead > tr > th:first-child,
#tags-well > .inner-well > .table > tbody > tr > td:first-child{
    width: 50px;
    text-align: center;
}

#tags-well .table  > tbody > tr > td:not(:first-child) {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
}

#tags-well .table  > tbody > tr:first-child {
    background-color: #f9f9f9;
}
